#notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3em;
}

.notfound {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.notfound h1 {
    font-weight: normal;
    font-size: 8rem;
}

.notFoundBg {
    background-image: url('./assets/notFound.png');
    background-size: cover;
    width: 30vw;
    aspect-ratio: 1/1;
}