.portfolio {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.catagoryBar {
    padding: 1rem 1rem 1rem 0;
}

.catagories .navList {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0;
    padding: 0 0.5rem;
}

.catagories .navList li {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    cursor: pointer;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1.5rem;
}

.projectCard {
    padding: 1rem;
    background-color: rgb(248, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.projectCard .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.7rem;
    padding-top: 0.5rem;
}

.projectCard .body *:not(a) {
    margin: 0;
    padding: 0;
}

.body .section {
    color: rgb(0, 0, 193);
    font-weight: bold;
}

.body .title h3 {
    font-weight: normal;
}

.body .desc p {
    color: rgb(94, 94, 94);
}