#sideNav {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 25%;
}
.nav {
    margin-left: 10px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0.8rem;
    border-radius: 10px;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.nav li {
    display: flex;
    gap: 0.7rem;
}