#forms {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.forms-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80vw;
  width: 50vw;
  position: relative;
  border: 1px solid #e1e1e1;
}

#forms .login-form,
#forms .registration-form {
  padding: 2rem;
  position: relative;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.creds {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 150%);
  width: max-content;
}

/* New */

.form-title {
  font-size: 2rem;
  font-weight: 400;
  color: #2c2c2c;
  margin-bottom: 1.5rem;
}

.input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #727272;
  transition: 0.3s;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.input-block input {
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
}

.input-block input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

.input-block input:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}

.input-block input::placeholder {
  color: #ccc;
  opacity: 1;
}

.input-block:focus-within {
  border-color: #2c2c2c;
}

.input-block:focus-within .input-label {
  color: #929292;
}

.input-button {
  padding: 0.5rem 1rem;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #2c2c2c;
  transition: 0.3s;
  cursor: pointer;
}
.input-button:hover {
  background: #505458;
}

.sign-up {
  margin: 30px 0 0;
  font-size: 14px;
  text-align: center;
}

.sign-up span {
  cursor: pointer;
  font-size: 16px;
  color: #000000;
}

.cover-image {
  background-image: url("./form2.jpg");
  background-size: cover;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: right 400ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-image:hover::after {
  content: 'Click to skip Login';
  position: absolute;
  font-size: 1.5rem;
  padding: 0.4em 0.6em;
  border-radius: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.cover-image.change {
  right: 50%;
}

.form-error {
  color: #b22b27;
  font-size: 0.8rem;
  margin: 0;
}

.login-error {
  margin-top: 1rem;
}

/* success animation */

.success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 10px;
  z-index: 9999;
  box-shadow: 0 0 100vw 100vw rgba(0, 0, 0, 0.409);
  transform-origin: center center;
  transition: transform 150ms ease-in-out;
}

.success.open {
  transform: translate(-50%, -50%) scale(1);
}

/* loading animation */

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 9999;
}

.spinner {
  --size: 75px;
	--clr-bg: #272324;
	--clr1: #a2bb88;
	--clr2: #cca78d;
	--clr3: #e199ee;
	--clr4: #eed090;
	--clr5: #aa88ee;

	--animation-duration: 650ms;
	position: relative;
	width: var(--size);
	height: var(--size);
  transform: scale(1.3);
}

.spinner-item {
  position: absolute;
  width: var(--item-size);
  height: var(--item-size);
  top: calc(50% - var(--item-size) / 2);
  left: calc(50% - var(--item-size) / 2);
  border: 4px solid transparent;
  border-left: 4px solid var(--clr-spinner);
  border-right: 4px solid var(--clr-spinner);
  border-radius: 50%;
  animation: spinner2 var(--animation-duration) linear infinite;
}

@keyframes spinner2 {
  to {
    transform: rotate(360deg);
  }
}

.spinner-item:nth-of-type(1) {
  --item-size: var(--size);
  --clr-spinner: var(--clr1);
  border-top: 4px solid var(--clr1);
}

.spinner-item:nth-of-type(2) {
  --item-size: calc(var(--size) - 15px);
  --clr-spinner: var(--clr5);
  border-bottom: 4px solid var(--clr5);
}

.spinner-item:nth-of-type(3) {
  --item-size: calc(var(--size) - 30px);
  --clr-spinner: var(--clr3);
  border-top: 4px solid var(--clr3);
}
