.postmanError {
    font-size: 0.8rem;
    color: red;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
}

.inputGroup > *{
    flex: none!important;
    width: max-content!important;
}

#query {
    min-width: 20rem;
}

#postman_form .MuiOutlinedInput-input {
    padding: 0.5rem 2.5rem 0.5rem 0.8rem;
}

.tab-content {
    padding: 24px;
}