/* scrollbars */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

#app {
  display: grid;
  max-height: 100vh;
  grid-template-columns: 300px 1fr;
  transition: 400ms ease-in-out;
}

#sideHide {
  display: grid;
  max-height: 100vh;
  grid-template-columns: 0px 1fr;
  transition: 400ms ease-in-out;
}

#sidenav {
  background-color: #f9f9fb;
  padding: 1rem;
}

#sideNavHidden {
  background-color: #f9f9fb;
  overflow: hidden;
}

#navbar {
  display: flex;
  align-items: center;
}

#content {
  max-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

#page {
  margin: 1rem;
  box-shadow: rgb(76 78 100 / 22%) 0px 2px 10px 0px;
  border-radius: 10px;
  overflow-y: auto;
}

.closeBtn {
  padding: 1rem;
  cursor: pointer;
  transition: 400ms ease-in-out;
  transform: rotate(180deg)
}

.openBtn {
  padding: 1rem;
  cursor: pointer;
  transform: rotate(0);
  transition: 400ms ease-in-out;
}
